<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.hs">
  	<select id="selectAll" resultType="com.hs.app.MDto">
  		select * from member1
  	</select>
  	<select id="selectOne" resultType="com.hs.app.MDto">
  		select * from member1 where idx=#{idx}
  	</select>  	
  	<insert id="insert">
  		insert into member1 values (null, #{id}, #{pw}, #{name})
  	</insert>
  	<delete id="delete">
  		delete from member1 where idx=#{idx}
  	</delete>
  	<update id="update">
  		update member1 set id=#{id} , pw=#{pw}, name=#{name} where idx=#{idx}
  	</update>
  
  </mapper>
  
  